$grey-body: #707070;
$grey: #B7B7B7;
$white: #ffffff;
$off-white: #F5F5F5;
$blue: #25DFE6;

body{
    margin: 0;
    color: $grey-body;
    font-family: Arial, Helvetica, sans-serif;
}

#front-page-container {
    width: 100%;
    max-width: 1000px;
    margin: 1rem auto;
    background-color: $white;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    border: 1.5px solid $grey;
    margin: 30px 0px;

    h1{
    text-transform: uppercase;
    padding: 2.5rem 1.5rem;
    margin: 0;
    }
}

/*Her begynner delen for styling av tabene og knappene. En god del av dette er tatt fra https://www.w3schools.com/howto/howto_js_tabs.asp*/

#category-tabs {
    overflow: hidden;
    button{
    background-color: $off-white;
    border: 1.5px solid $grey;
    border-bottom: none;
    outline: none;
    padding: 20px 30px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: $grey-body;

    .active{
    background-color: $blue;
    border: none;
    color: $white;
    }
    }
}

/*.tabcontent {
    display: none;
}*/

.tabcontent {
    display: block;
    border: 1.5px solid $grey;
    border-top: 5px solid $blue;
    padding: 1rem 2rem;
    padding-bottom: 5rem;
    h2 {
        text-transform: uppercase;
    }
    p {
        width: 75%;
    }
    ul {
        padding-left: 1rem;
        li a{
            color: $blue;
        }
    }
}